FRITZBOX_USER_NAME=''
FRITZBOX_USER_PASSWORD=''
FRITZBOX_IP_ADDRESS='192.168.1.0'
FRITZBOX_IDENTIFIER='FritzBox1'
REFRESH_RATE_SMARTHOME_SECONDS = '30'
REFRESH_RATE_CONNECTION_MINUTES = '60'
REFRESH_RATE_DEVICELIST_MINUTES = '120'
DATABASE_NAME='database name'
DATABASE_USER=''
DATABASE_PASSWORD=''
DATABASE_HOST='192.168.1.0'
DATABASE_PORT='5432'
EXPORT_FILE_REDUCED = './export/FritzBoxDeviceList.json'
EXPORT_FILE_FULL = './export/FritzBoxDeviceList_full.json'